/**************************************
LAYOUT CSS
**************************************/

.wrapper {
    max-width: 900px;
    margin: 50px auto;
}

/**************************************
CSS TO MAKE THE EXAMPLE LOOK PRETTY
**************************************/

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #FFF;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven {
    background-color: #163A59;
    color: #FF6600;
    border: 2px solid;
    box-sizing: border-box;
    min-height: 100px;
    line-height: 100px;
}

/* Here is my CSS Code */

.wrapper {
    display: grid;
}

@media screen and (min-width: 576px) and (max-width:991px) {

    .one,
    .four,
    .seven {
        grid-column: 1/3;
    }

    .two,
    .five {
        grid-column: 1/2;
    }

    .three,
    .six {
        grid-column: 2/3;
    }
}

@media screen and (min-width:900px) {

    .one {
        grid-column: 1/2;
    }

    .two {
        grid-column: 2/5;
    }

    .three {
        grid-column: 1/3;
    }

    .four {
        grid-column: 3/5;
    }

    .five {
        grid-column: 1/4;
    }

    .six {
        grid-column: 4/5;
    }

    .seven {
        grid-column: 1/5;
    }

}